*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 15px;
}
.div5 {
    width: 37%;
    height: 61%;
    display: grid;
    justify-self: center;
    align-self: center;
    margin-top: 181px;
    margin-left: 40%;
    background-color: white;
    border-bottom-left-radius: 20px;
    -webkit-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    -webkit-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-top-right-radius: 20px;
}
body{
display: grid;
width: 1307px;
height: 813px;

/* justify-content: center; */
background: repeat-x rgb(227 239 242 / 54%) url(images/pattern-background-desktop.svg);
margin: 36.25px 58px;
padding: 50px;
}
/* .one::after{
    content: "";
position: absolute;
left:32%;
top: 10%;
height: 80%;
width: 35%;
background: blue;
}  */
.div3 {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 295%;
    
    margin-top: -182px;
    border-top-left-radius: 20px;
    -webkit-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-top-right-radius: 20px;
    background: no-repeat url(images/illustration-hero.svg);
    z-index: 7;
    font-size: 11px;
}
 .div2 {
    /* margin: 0px auto; */ 
    margin: -72px 44px;
    width: 77%;
    height: 190%;
    margin-bottom: -32px;
    display: grid;
    align-self: center;
    padding: 37px;
}
 
.div6 {
    display: grid;
    height: 32%;
    width:100%;
    margin-top: -144px;
    align-self: flex-start;
}
.card {
    height: 100%;
    width: 100%;
    margin-top: 102px;
    justify-self: flex-start;
    text-align: center;
}
.AnnualPlan {
       display: flex;
    width: 100%;
    height: 100%;
    margin-left: -13px;
    justify-content: center;
    align-content: center;
    margin-top: 26px;
}

span{
    display: flex;
    margin-top: 27px;
    margin-left: -87px;

}
.Change {
  display: grid;
    width:40%;
    height: 100%;
    align-content: center;
    justify-content: center;
    
    /* margin-top: -173px;
    margin-left: 74px; */

 }
.Change a {
    display: flex;
  align-self: center;
   
    /* font-size: 11px; */
     text-align: center;
     color: hsl(228, 45%, 44%);
}

.icon {
    width: 10%;
    height: 100%;
    display: flex;
  
    align-content: center;
    justify-content: flex-start;
}
.icon img {
   
    display: grid;
    justify-content: center;
    align-self: center;
    width:30px;
    margin-left: 15px;
    height: 30px;
    /* margin-top: 201px */
}

.div4 {
    justify-content: space-evenly;
    align-self: center;
    background-color: rgb(247, 247, 247);
    width: 59%;
    height: 140%;
    display: flex;
    margin-top: 30px;
    margin-bottom: -37px;
    margin-left: 86px;
    border-bottom-left-radius: 10px;
    -webkit-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-top-right-radius: 10px;
}



  

button{
display: grid;
cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    border-bottom-left-radius: 10px;
    -webkit-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-top-right-radius: 10px;
    background-color: hsl(228, 45%, 44%);
background-color: hsl(228, 45%, 44%);
}
.button2 {
    background: transparent;
    border: 1px solid transparent;
    opacity: 0.65;
}
.button1{
    color: white;
} 
@media(min-width:0 ) and (max-width:490px ){
    *{
        box-sizing: border-box;
        font-family: sans-serif;
    }
    .div5 {
        width: 34%;
        height: 70%;
        display: grid;
        margin-left: -218px;
        justify-self: center;
        align-self: center;
        margin-top: 161px;
        background-color: white;
        border-bottom-left-radius: 20px;
        -webkit-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        -webkit-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        -webkit-top-left-radius: 20px;
        border-top-right-radius: 20px;
        -webkit-top-right-radius: 20px;
    }
    body{
    background-color: rgb(183, 202, 236);
    display: grid;
    background-image: none;
    height:520px ;
    width: 250px;
    }
    .one{
    display: grid;
    width: 1307px;
    
    height: 813px;
    /* justify-content: center; */
    margin: 36.25px 58px;
    padding: 50px;
    }
    /* .one::after{
        content: "";
    position: absolute;
    left:32%;
    top: 10%;
    height: 80%;
    width: 35%;
    background: blue;
    }  */
    .div3 {
        display: grid;
        justify-content: center;
        width: 100%;
        height: 231%;
        margin-top: -182px;
        border-top-left-radius: 20px;
        -webkit-top-left-radius: 20px;
        border-top-right-radius: 20px;
        -webkit-top-right-radius: 20px;
        background: no-repeat url(images/illustration-hero.svg);
        z-index: 7;
        font-size: 11px;
    }
     .div2 {
        /* margin: 0px auto; */
        margin: -104px auto;
        width: 100%;
        height: 190%;
        margin-bottom: -32px;
        display: grid;
        align-self: center;
        padding: 37px;
    }
     
    .div6 {
        display: grid;
        height: 32%;
        width:100%;
        margin-top: -144px;
        align-self: flex-start;
    }
    .card {
        height: 30%;
        width: 100%;
        margin-top: 90px;
        justify-self: flex-start;
        text-align: center;
    }
    .AnnualPlan {
        display: flex;
        width: 60%;
        height: 107%;
        margin-left: -33PX;
        justify-self: center;
        align-self: center;
        margin-top: 82px;
    }
    span{
        display: flex;
        margin-top: 32px;
        margin-left: -87px;
    
    }
    .Change {
      display: flex;
        width:40%;
        height: 100%;
        align-content: center;
        justify-content: center;
        
        /* margin-top: -173px;
        margin-left: 74px; */
    
    }
    .Change a {
        display: flex;
      align-self: center;
       
        /* font-size: 11px; */
         text-align: center;
         color: hsl(228, 45%, 44%);
    }
    
    .icon {
        width: 10%;
        height: 100%;
        display: flex;
      
        align-content: center;
        justify-content: flex-start;
    }
    .icon img {
       
        display: grid;
        justify-content: center;
        align-self: center;
        width:55px;
        margin-left: 15px;
        height: 55px;
        /* margin-top: 201px */
    }
    
    .div4 {
        justify-content: space-evenly;
        align-self: center;
        background-color: #eee;
        width: 95%;
        height: 100%;
        display: flex;
        margin-top: 29px;
        margin-left: 10px;
        border-bottom-left-radius: 10px;
        -webkit-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        -webkit-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        -webkit-top-left-radius: 10px;
        border-top-right-radius: 10px;
        -webkit-top-right-radius: 10px;
    }
      
    
    button{
    display: flex;
    
        
    
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80%;
        border-bottom-left-radius: 10px;
        -webkit-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        -webkit-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        -webkit-top-left-radius: 10px;
        border-top-right-radius: 10px;
        -webkit-top-right-radius: 10px;
        background-color: hsl(228, 45%, 44%);
    background-color: hsl(228, 45%, 44%);
    }
   
    .button2 {
        background: transparent;
        border: 1px solid transparent;
        opacity: 0.65;
        
    }
    .button1{
        color: white;
        cursor:col-resize;
    }
}

    
@media(min-width:  1000px) and (max-width: 1500px){
    *{
        box-sizing: border-box;
        font-family: sans-serif;
    }
    .div5 {
        width: 35%;
        height: 61%;
        display: grid;
        justify-self: center;
        align-self: center;
        margin-top: 181px;
        margin-left: 40%;
        background-color: white;
        border-bottom-left-radius: 20px;
        -webkit-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        -webkit-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        -webkit-top-left-radius: 20px;
        border-top-right-radius: 20px;
        -webkit-top-right-radius: 20px;
    }
    
    body{
    background-image: url(design/desktop-preview.jpg);
    display: grid;
    background-repeat: no-repeat;
    height: 500px;
    width: 1440px;
    }
    .one{
        display: flex;
        width: 1307px;
        height: 836px;
        justify-content: center;
        margin: 22.25px -285px;
        padding: 50px;
    }
    /* .one::after{
        content: "";
    position: absolute;
    left:32%;
    top: 10%;
    height: 80%;
    width: 35%;
    background: blue;
    }  */
    .div3 {
        display: grid;
        justify-content: center;
        width: 100%;
        height: 231%;
        margin-top: -182px;
        border-top-left-radius: 20px;
        -webkit-top-left-radius: 20px;
        border-top-right-radius: 20px;
        -webkit-top-right-radius: 20px;
        background: no-repeat url(images/illustration-hero.svg);
        z-index: 7;
        font-size: 11px;
    }
     .div2 {
        /* margin: 0px auto; */
        margin: -104px auto;
        width: 100%;
        height: 190%;
        margin-bottom: -32px;
        display: grid;
        align-self: center;
        padding: 37px;
    }
     
    .div6 {
        display: grid;
        height: 32%;
        width:100%;
        margin-top: -144px;
        align-self: flex-start;
    }
    .card {
        height: 30%;
        width: 100%;
        margin-top: 90px;
        justify-self: flex-start;
        text-align: center;
    }
    .AnnualPlan {
        display: flex;
        width: 100%;
        height: 100%;
        margin-left: 10px;
        justify-content: center;
        align-content: center;
        margin-top: 26px;
    
 }
 
 span{
     display: flex;
     margin-top: 27px;
     margin-left: -87px;
 
 }
    .Change {
      display: grid;
        width:40%;
        height: 100%;
        align-content: center;
        justify-content: center;
        
        /* margin-top: -173px;
        margin-left: 74px; */
    
    }
    .Change a {
        display: grid;
      align-self: center;
       
        /* font-size: 11px; */
         text-align: center;
         color: hsl(228, 45%, 44%);
    }
    
    .icon {
        width: 10%;
        height: 100%;
        display: flex;
      
        align-content: center;
        justify-content: flex-start;
    }
    .icon img {
       
        display: grid;
        justify-content: center;
        align-self: center;
        width:55px;
        margin-left: 15px;
        height: 55px;
        /* margin-top: 201px */
    }
    
    .div4 {
        justify-content: space-evenly;
        align-self: center;
        background-color: rgb(247, 247, 247);
        width: 64%;
        height: 140%;
        display: flex;
        margin-top: 30px;
        margin-bottom: -37px;
        margin-left: 80px;
        border-bottom-left-radius: 10px;
        -webkit-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        -webkit-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        -webkit-top-left-radius: 10px;
        border-top-right-radius: 10px;
        -webkit-top-right-radius: 10px;
    
    
    
    }
      
    
    button{
    display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80%;
        border-bottom-left-radius: 10px;
        -webkit-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        -webkit-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        -webkit-top-left-radius: 10px;
        border-top-right-radius: 10px;
        -webkit-top-right-radius: 10px;
        background-color: hsl(228, 45%, 44%);
    background-color: hsl(228, 45%, 44%);
    }
    .button2 {
        background: transparent;
        border: 1px solid transparent;
        opacity: 0.65;
    }
    .button1{
        color: white;}

    }