*{
    font-size: 15.5px !important;
}
.t{
    display: grid;
    width: 133%;
    height: 92%;
    padding-top: 153px;
    padding-left: 109px;
    padding-right: 121px;
    grid-template-columns: repeat(135, 7px);
    grid-template-rows: repeat(136,8px);
    gap: 5px;
    background-color: rgb(102, 242, 247);
    margin: 56px 0;
    padding-bottom: 50px;
}
body {
    width: 870px;
    height: 606px;
    place-content: center;
    padding: 56px;
    background: rgb(102, 242, 247);
    background-image: none;
    
}
.icon {
    width: 200px !important;
    height: 200px !important;
    margin-left: -200px !important;
    position: absolute !important;
    margin-top: -20px !important;
    transform: rotate(-20deg) !important;
    -webkit-transform: rotate(-5deg) !important;
    -moz-transform: rotate(-20deg) !important;
    -ms-transform: rotate(-20deg) !important;
    -o-transform: rotate(-20deg) !important;
}
img {
    width:20px;
    height: 20px;
    font-size: 11px;
    margin: -15px;
    border: 0.5px solid #eee;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.div1{
   
    grid-column-start: 15;
    grid-column-end: 61;
    grid-row-start: 1;
    grid-row-end: 21;
    background-color: rgb(155, 114, 221);
    color: white;
   border-top-left-radius: 10px ;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px
}
.div2{ 
    grid-column-start:61 ;
    grid-column-end: 102;
    grid-row-start: 1;
    grid-row-end: 21;
    background-color: rgb(192, 192, 192);
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}
.div3{ 
    
        grid-column-start: 102;
        grid-column-end: 130;
        grid-row-start: 1;
        font-size: 8px;
        padding-left: 50px;
        grid-row-end: 42;
        background-color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
}
.div4{ 
    grid-column-start: 45;
    grid-column-end: 102;
    grid-row-start: 21;
    grid-row-end: 42;
    background-color: rgb(58, 48, 59);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.div5{ 
    grid-column-start: 15;
    grid-column-end: 45;
    grid-row-start: 21;
    grid-row-end: 42;
    font-size: 4px !important;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.one , span{
    font-size: 11px;
    display: grid;
 word-break:keep-all;
}
h1 {
    margin-top: -40px;
    margin-left: 10px;
    font-size: 20px;
}

q {
   
    word-break: break-all;
    margin-top: -30px;
    font-size: 21px;
   
}
.one{
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
  

}
span {
    color: white;
    margin-top: -12px;
    margin-left: 10px;
}
.titel {
    display: flex;
    padding: 20px;
    gap: 21px;
    width: 265px;
    height: 40px;
}
p{
    margin-left: -87px;
    margin-top: 2px;
    opacity: 0.7;
    color: white;
}
.div3 span,.div5 span,.div3 p ,.div5 p {
    color: black;
}