body  {
   
background-image: none;
    width: 1400px;
    height: 900px;
    z-index: 8;
}
.cont2 {
    width: 375px;
    height: 956px;
    background-image: none;
    background-color: rgb(79, 14, 95);
    background: no-repeat top url(../images/image-header-mobile.jpg);
}

